.hero {
  position: relative;

  &__tooltip {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
    transition:
      z-index $transition-timing-default $transition-easing-default,
      opacity $transition-timing-default $transition-easing-default,
      transform $transition-timing-default $transition-easing-default;

    .hero:hover & {
      z-index: 10;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__thumb-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
